@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.body{
  background-color: antiquewhite;
}
.header{
  background-color: rgb(23, 122, 215);
  color:rgb(241, 246, 250);
  font-weight:bold;
}
.title{
  color:rgb(23, 122, 215);
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.login{
  color:rgb(23, 122, 215);
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  margin:1rem;
}

.fill{
  background-color: #fff;
  color:rgb(23, 122, 215);
}

.box{
  border-color: rgb(23, 122, 215);
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 10px 10px 8px 0px rgba(242,234,242,1);
  padding:1.4rem;
  max-width: 600px;
  margin:0 auto;
}
.navbar-filter{
  border-radius: 4px;
  box-shadow: 3px 3px 6px 0px rgba(204,200,204,1);
  padding:1.4rem;
  width:95%;
  margin:0.8rem auto;
}
/* .box-container{
  
} */

.login-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:1.5rem 0;
  padding-bottom: 0;
}
.head{
  padding:1rem;
  text-transform: uppercase;
  background-color: rgb(23, 122, 215);
  color:#fff;
  font-weight: 600;
}
.task{
  background-color: rgb(195, 225, 252);
  padding:1rem;
  border-radius: 0.5rem;
}
.colorBtn{
  background-color: rgb(59, 157, 248);
  color:#fff;
}
.colorBtn:hover{
  background-color: rgb(23, 122, 215);
  color:#fff;
}
.addbtn{
  background-color: rgb(23, 122, 215);
  color:#fff;
  border:none;
  padding:0.5rem 3rem;
  border-radius: 0.3rem;
  margin:1rem;
}
.addbtn:hover{
  background-color: rgb(40, 128, 211);
  color:#fff;
}
.details-bg{
  width: 100%;
  background-color: rgba(12, 12, 12, 0.668);
  position: relative;
  height:91vh;
}
.details-box{
  position: relative;
  top:50%;
  border-radius: 1.2rem;
  background-color: #fff;
  margin:auto;
  max-width: 600px;
  /* height:80%; */
  padding: 1.4rem;
  transform: translateY(-60%);
}
.large{
  height:80%;
}
.closeBtn{
  position: absolute;
  bottom: 5%;
  right:5%;
}
input:focus{
  outline:none;
}
.new-input{
  outline:none;
  border:none;
  background-color: transparent;
  border-bottom:1px solid rgb(113, 108, 108);
}
